@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
    // Gradient from http://uigradients.com/
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#085078), to(#85D8CE));
    background: -webkit-linear-gradient(to left, #085078, #85D8CE);
    background: -moz-linear-gradient(to left, #085078, #85D8CE);
    background: -o-linear-gradient(to left, #085078, #85D8CE);
    background: linear-gradient(to left, #085078, #85D8CE);; /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}